* text=auto eol=lf

*.milone    linguist-language=fsharp
*.c         linguist-detectable=false

# <https://github.com/github/linguist#generated-code>
boot/MiloneLang/Records.fs      linguist-generated
boot/scripts/**/*.c             linguist-generated
boot/tests/**/*.c               linguist-generated
