.fake
/target/
/vendor/



# Created by https://www.toptal.com/developers/gitignore/api/c,fsharp
# Edit at https://www.toptal.com/developers/gitignore?templates=c,fsharp

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
!.paket/paket.bootstrapper.exe
.ionide/

# End of https://www.toptal.com/developers/gitignore/api/c,fsharp
